@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'League Spartan', sans-serif;

}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .top__section{
        @apply sm:flex sm:h-[480px] w-full
    }
    .bottom__section{
        @apply sm:flex sm:h-[243px] w-full
    }
}

